.discountCard{
    width: 33.33333%;
    height: 466px;
    border: solid 1px #e8e8e8;
    border-bottom: none;
    border-left: none;
    background-color: #df4b63;
}
.discountCard__salePercent{
    display: block;
    text-align: center;
    height: 123px;
    margin-top: 63px;
}
.discountCard__sale {
    display: inline-block;
    margin-left: -14px;
    font-family: 'WorkSans', sans-serif;
    font-weight: 600;
    font-size: 116px;
    letter-spacing: -0.09em;
    opacity: 0.5;
    color: white;
}

.discountCard__percent{
    display: inline-block;
    margin-left: -6px;
    font-family: 'WorkSans', sans-serif;
    font-weight: 600;
    font-size: 116px;
    letter-spacing: -0.09em;
    opacity: 0.5;
    color: black;
}
.discountCard__title{
    display: block;
    text-align: center;
    font-family: 'WorkSans', sans-serif;
    font-weight: 600;
    font-size: 35px;
    text-transform: uppercase;
    opacity: 0.5;
    color: white;


}
.discountCard__description:before{
    content: '';
    display: block;
    position: relative;
    width: 18px;
    height: 2px;
    background-color: white;
    top: -33px;
    left: 145px;
}
.discountCard__description{
    display: block;
    width: 300px;
    text-align: center;
    font-family: 'WorkSans', sans-serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    color: white;
    margin-top: 67px;
    margin-left: 78px;

}
@media (min-width: 768px) and (max-width: 1400px) {
    .discountCard{
        width: 50%;
        height: 485px;
    }

    .discountCard__description{
        display: block;
        width: 360px;
        height: 85px;
        margin: auto;
        margin-top: 67px;
    }
}
@media (max-width: 767px) {
    .discountCard{
        width: 100%;
        height: 480px;

    }

    .discountCard__description{
        display: block;
        width: 360px;
        height: 85px;
        margin: auto;
        margin-top: 67px;
    }
}
