.socialNetwork {
    width: 253px;
    height: 59px;
    margin-top: 82px;
    margin-left: 124px;
    display: inline-block;
    border-right: solid 1px #e8e8e8;
    padding-right: 46px;
}
.socialNetwork__button{
    display: flex;
    text-align: center;
    margin: 0 auto;
}
.button{
    width: 58px;
    height: 58px;
    border: none;
    cursor: pointer;
}
.socialNetwork__facebook {
    background-color: #3b5998;
    margin-left: 2px;
    padding-top: 4px;
}
.socialNetwork__twitter{
    background-color: #26a6d1;
    padding-top: 7px;
    padding-left: 7px;
}
.socialNetwork__instagram{
    background-color: #3f729b;
    padding-top: 5px;
}
.button:not(:first-child){
    margin-left: 15px;
}
@media (min-width: 768px) and (max-width: 1400px) {
    .socialNetwork {
        position: relative;
        top: 239px;
        left: 280px;
        border: none;
        margin-top: 0;
        margin-left: 0;;
    }
}
@media (max-width: 767px){
    .socialNetwork {
        position: relative;
        top: 233px;
        left: 136px;
        border: none;
        margin-top: 0;
        margin-left: 0;
    }

}