.aboutUs{
    display: inline-block;
    width: 156px;
    margin-top: 78px;
    margin-left: 126px;
    letter-spacing: 0.022em;
}
.aboutUs__text {
    font-family: 'JosefinSans', sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: white;
}
@media (min-width: 768px) and (max-width: 1400px) {
    .aboutUs{
        display: none;
    }
}
@media (max-width: 767px){
    .aboutUs{
        margin-top: 0;
        margin-left: 0;
    }
    .aboutUs__text {
        color: white;
        display: block;
        position: relative;
        top: 56px;
        left: 165px;
        width: 163px;
    }
}