.infoProduct__char{
    display: flex;
    width: 674px;
    margin: 0 auto;
    margin-top: 34px;
}
.char1{
    text-align: center;
    letter-spacing: -0.05px;

}
.char2{
    text-align: center;
    margin-left: 129px;
    letter-spacing: -0.05px;
}
.char__string{
    font-family: 'WorkSans' , sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    color: #242424;
}
@media (min-width: 768px) and (max-width: 1400px) {
    .char1{
        margin-left: 3px;
    }
    .char2{
        margin-left: 126px;
    }
}
@media (max-width: 767px){
    .infoProduct__char {
        display: block;
        width: 400px;
        margin: 0 auto;
        margin-top: 22px;
    }
    .char1{
        margin-left: 3px;
    }
    .char2{
        margin-left: 0;
    }

}