.cardBlock{
    width:1400px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}
@media (min-width: 768px) and (max-width: 1400px) {
    .cardBlock {
        width:100%;
    }
}
@media (max-width: 767px) {
    .cardBlock {
        width:100%;
    }
}