.header__logo{
    color: white;
    font-family: 'JosefinSans', sans-serif;
    font-weight: 700;
    font-size: 26px;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    margin-top: 16px;
    margin-left: 8px;
    cursor: pointer;
    text-decoration: none;
}

