.specialOfferCard {
    width: 33.33333%;
    height: 466px;
    border: solid 1px #e8e8e8;
    border-bottom: none;
    border-left: none;
    background-image: url('../../../../../images/woman_1.jpg');
    background-repeat: no-repeat;
}
.specialOfferCard__special{
    width: 0;
    height: 0;
    border-top: 80px solid #202020;
    border-right: 80px solid transparent;
}
.special{
    font-family: 'WorkSans', sans-serif;
    font-weight: 600;
    font-size: 13px;
    color: white;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    transform: rotate(-45deg);
    top: -49px;
    left: 12px;
    position: relative;
}
.specialOfferCard__title{
    display: block;
    width: 170px;
    margin-top: 107px;
    margin-left: 49px;
    line-height: 28px;
    font-family: 'JosefinSans', sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}
.specialOfferCard__newPrice{
    display: inline-block;
    margin-top: 9px;
    margin-left: 49px;
    font-family: 'WorkSans', sans-serif;
    font-weight: 600;
    font-size: 22px;
    color: white;
}
.specialOfferCard__oldPrice {
    display: inline-block;
    padding-top: 11px;
    padding-left: 10px;
    font-family: 'WorkSans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: white;
    text-decoration: line-through;
    position: absolute;
}
@media (min-width: 768px) and (max-width: 1400px) {
    .specialOfferCard {
        width: 50%;
        height: 485px;
        background-size: cover;
    }
    .specialOfferCard__special{
        border-top: 70px solid #202020;
        border-right: 70px solid transparent;
    }
    .special{
        top: -41px;
        left: 8px;

    }
    .specialOfferCard__title{
        margin-top: 109px;
        margin-left: 49px;

    }
}
@media (max-width: 767px) {
    .specialOfferCard {
        width: 100%;
        height: 480px;
        background-size: cover;
    }
    .specialOfferCard__special{
        border-top: 80px solid #202020;
        border-right: 80px solid transparent;
    }
    .special{
        top: -47px;
        left: 11px;

    }
    .specialOfferCard__title{
        margin-top: 115px;
        margin-left: 49px;

    }
}