.cardProduct{
    width: 33.33333%;
    height: 466px;
    border: solid 1px #e8e8e8;
    border-bottom: none;
    border-left: none;

}
.cardProduct:nth-child(2){
    background-color: #f2f5f9;
}

.cardProduct:nth-child(3n){
    border-right: none;
}
.cardProduct__image{
    display: block;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    height: 258px;
    margin-top: 50px;
}
.cardProduct__title{
    font-family: 'WorkSans', sans-serif;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.2em;
    color: #c2c2c2;
    text-align: center;
    text-transform: uppercase;
    padding-top: 32px;
}
.cardProduct__description {
    font-family: 'JosefinSans' , sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: black;
    text-align: center;
    padding-top: 13px;
    line-height: 30px;
    letter-spacing: 0.016em;
    text-decoration: none;

}
.cardProduct__price{
    font-family: 'WorkSans' , sans-serif;
    font-weight: 600;
    font-size: 22px;
    color: #92cacc;
    text-align: center;
    padding-top: 8px;

}
@media (min-width: 768px) and (max-width: 1400px) {
    .cardProduct{
        width: 50%;
        height: 485px;
    }
    .cardProduct__image{
        margin-top: 58px;
    }
    .cardProduct__title{
        padding-top: 34px;
    }
    .cardProduct:nth-child(8){
        border-bottom: solid 1px #e8e8e8;
    }
    .cardProduct:nth-child(9){
        border-right: solid 1px #e8e8e8;
    }
}
@media (max-width: 767px) {
    .cardProduct{
        width: 100%;
        height: 480px;
    }
    .cardProduct__image{
        margin-top: 58px;
    }
    .cardProduct__title{
        padding-top: 39px;
    }
}
