.subscribeBlock {
    display: flex;
    width: 1400px;
    height: 220px;
    margin: 0 auto;
}
@media (min-width: 768px) and (max-width: 1400px) {
    .subscribeBlock {
        height: 358px;
        width: 768px;


    }
}
@media (max-width: 767px){
    .subscribeBlock {
        height: 351px;
        width: 480px;


    }
}