.menuBlock{
    width: 100%;
    height: 143px;
    display: flex;
    justify-content: center;
}
.menuLink{
    width:780px;
    display: block;
    margin: 0 auto;
    padding-left: 27px;
}
.menuBlock_link.active {
    border-bottom: solid 2px #d095b7;
    transition: border-color .5s ease-in;
}
.category{
    display: none;
}
.categoryButton{
    display: none;
}
.menuBlock_link{
    display: inline-block;
    font-family: 'JosefinSans', sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: black;
    margin-top: 38px;
    cursor: pointer;
    height: 51px;
    line-height: 65px;
    transition: color .5s ease-in;
    text-decoration: none;
    list-style: none;
    border-bottom: solid 2px transparent;
}
.menuBlock_link:hover {
   color: #d095b7;
}
.menuBlock_link:nth-child(2){
    display: none;
}
.menuBlock_link:not(:first-child) {
    margin-left: 35px;
    padding-left: 0;
 }
.menuBlock_link:nth-child(3) {
    padding-left: 0;
}
@media (min-width: 768px) and (max-width: 1400px) {
    .menuBlock{
        height: 111px;
    }
    .menuBlock_link{
        margin-top: 20px;
    }
    .menuBlock_link:not(:first-child) {
        margin-left: 36px;

    }
    .menuBlock_link.active {
        border-bottom: solid 2px #d095b7; ;
    }
}
@media  (max-width: 768px) {
    .click{
        display: block;
        cursor: pointer;
        height: 270px;
    }

    .menuBlock{
        height: 161px;
    }
    .category{
        display: inline-block;
        font-family: 'JosefinSans', sans-serif;
        font-weight: 400;
        font-size: 20px;
        color:#e8e8e8;
        margin-top: 18px;
        margin-left: -5px;
        margin-bottom: 0;
    }
    .menuBlock_link{
        display: block;
        color: #e8e8e8;
        border: none;
        font-size: 20px;
    }
    .menuLink{
        position: absolute;
        width: 385px;
        height: 58px;
        border: solid 1px #e8e8e8;
        background-color: #fcfafa;
        overflow: hidden;
        margin-top: 53px;
    }
   .menuLink.click {
       display: block;
       cursor: pointer;
       height: 266px;
   }
    .menuBlock_link:nth-child(2){
        display: none;
    }
    .menuBlock_link:nth-child(3) {
        padding-left: 0;
        position: absolute;
        border: none;
        margin-left: 0;
    }
    .menuBlock_link:not(:first-child) {
        padding-left: 0;
        display: block;
        margin-top: 0;
        margin-left: 79px;
        position: relative;
        top: -44px;
    }
    .categoryButton{
        display: block;
        position: relative;
        top: -278px;
        left: 317px;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        border: solid 1px #e8e8e8;
        background-color: #fcfafa;
    }
    .menuBlock_link.active {
        display: none;
    }
}