.infoProduct__photo{
    width: 1400px;
    height: 100%;
    display: block;
    margin: 0 auto;
}
.back{
    display: inline-block;
    position: absolute;
    font-family: 'JosefinSans', sans-serif;
    font-weight: 600;
    color: #ababab;
    font-size: 15px;
    line-height: 18px;
    margin-left: 19px;
    margin-top: 16px;
}
.photo{
    background-image: url(../../../../../images/product_big.jpg);
    display: inline-block;
    width: 708px;
    height: 520px;
    margin: 0 auto;
    margin-top: 85px;
    margin-left: 325px;

}
.link__previousNext{
    display: inline-block;
    position: absolute;
    width: 100px;
    margin-left: 236px;
    top: 76px;
}
.previous{
    display: inline-block;
    font-family: 'JosefinSans', sans-serif;
    font-weight: 600;
    color: #ababab;
    font-size: 15px;
    line-height: 18px;

}

.next{
    display: inline-block;
    position: relative;
    left: 26px;
    font-family: 'JosefinSans', sans-serif;
    font-weight: 600;
    color: #ababab;
    font-size: 15px;
    line-height: 18px;
}
.next:before{
    content: '';
    position: relative;
    left: -13px;
    top: -2px;
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #ababab;
}


.infoProduct__title{
    position: relative;
    display: block;
    height: 150px;
    text-align: center;
}
.title{
    display: inline-block;
    position: relative;
    font-family: 'JosefinSans' , sans-serif;
    font-weight: 700;
    font-size: 46px;
    line-height: 130px;
    color: #242424;
    top: 11px;
    left: -23px;
    letter-spacing: -0.1px;
}
.title:after{
    content: '';
    display: inline-block;
    position: relative;
    left: 23px;
    top: -7px;
    width: 15px;
    height: 14px;
    border-radius: 50%;
    background-color: #242424;

}
.price{
    display: inline-block;
    position: relative;
    font-family: 'WorkSans' , sans-serif;
    font-weight: 700;
    font-size: 46px;
    line-height: 130px;
    color: #c2c2c2;
    top: 11px;
    left: 20px;
}
@media (min-width: 768px) and (max-width: 1400px) {
    .infoProduct__photo{
        width: 970px;
    }
    .photo{
        margin-left: 115px;
        margin-top: 81px;
    }
    .back{
        margin-left: 15px;
        margin-top: 14px;

    }
    .link__previousNext{
        margin-left: 17px;
        top: 74px;
    }
}
@media (max-width: 767px) {
    .infoProduct__photo{
        width: 480px;
        height: 529px;
    }
    .photo{
        background-size: contain;
        background-repeat: no-repeat;
        width: 387px;
        height: 374px;
        margin-left: 44px;
        margin-top: 79px;
    }
    .back{
        margin-left: 20px;
        margin-top: 16px;
        font-size: 18px;

    }
    .link__previousNext{
        margin-left: -104px;
        top: 76px;
        width: 135px;
    }
    .previous{
        font-size: 18px;

    }
    .next{
        font-size: 18px;
        position: absolute;
        left: 92px;
    }
    .next:before{
        width: 5px;
        height: 5px;
        left: -16px;
    }
    .infoProduct__title{
        top: -89px;
        height: 150px;
        text-align: center;
    }
    .title{
        font-size: 32px;
        display: block;
        margin: 0;
        top: 65px;
        left: 0;
        line-height: 0;
        letter-spacing: 0.1px;
    }
    .title:after{
        display: none;

    }
    .price{
        font-size: 32px;
        margin: 0;
        top: 106px;
        left: -1px;
        line-height: 0;
    }
}