.header__buttonMenu {
    height: 100%;
    width: 60px;
    font-size: 0;
}
.header__border{
    border-right: solid 1px #2f2f2f;
}
.header__menuButton{
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    border: none;
    background-color: #282828;
    cursor: pointer;
}