.infoProduct__description{
    display: block;
    width: 755px;
    margin: 0 auto;
    margin-top: 43px;
    font-family: 'WorkSans' , sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #242424;
    text-align: center;
    letter-spacing: -0.1px;
}
@media (max-width: 767px){
    .infoProduct__description{
        width: 430px;
        margin-top: 53px;
        font-size: 16px;

    }
}