.productCard{
    display: flex;
    flex-wrap: wrap;
    width: 1400px;
    height: 1378px;
    margin: 0 auto;
    margin-top: 95px;
    padding-left: 10px;
}
.productCard__photo{
    width: 50%;
    height: 50%;
    background-repeat: no-repeat;
}
.orange{
    background-image: url(../../../images/preview_1.jpg);
}
.grey{
    background-image: url(../../../images/preview_2.jpg);
}
.black{
    /*background-image: url(../../../images/preview_3.jpg);*/
    margin-top: 6px;
}
.blue{
   /* background-image: url(../../../images/preview_4.jpg);*/
    margin-top: 6px;
}
@media (min-width: 768px) and (max-width: 1400px) {
    .productCard{
        width: 970px;
        height: 950px;
        margin-top: 74px;
        margin-bottom: -7px;
    }
    .productCard__photo{
        width: 470px;
        height: 470px;
        background-size: cover ;

    }
    .grey{
        margin-left: 10px;
    }
    .blue{
        margin-left: 10px;
        margin-top: 10px;
    }
    .black{
        margin-top: 10px;
    }

}
@media (max-width: 767px) {
    .productCard{
        display: block;
        width: 480px;
        margin-top: 55px;
        margin-bottom: 466px;
        padding-left: 15px;
    }
    .productCard__photo{
        width: 450px;
        height: 450px;
        background-size: cover;
    }

    .grey{
        margin-left: 0;
        margin-top: 15px;
    }
    .blue{
        margin-left: 0;
        margin-top: 15px;
    }
    .black{
        margin-top: 15px;
    }
}