.footer{
    width: 100%;
    height: 395px;
    background-color: #242424;
}
.footerBlock {
    width: 1400px;
    height: 100%;
    display: flex;
    margin: 0 auto;
}
@media (min-width: 768px) and (max-width: 1400px) {
    .footerBlock {
        width: 768px;


    }
}
@media (max-width: 767px){
    .footerBlock {
        width: 480px;
        height: 395px;
        margin: 0 auto;

    }
    .footer{
        height: 464px;
    }
}
