
@font-face {
    font-family: 'JosefinSans';
    font-weight: 700;
    font-style: normal;
    src: url(../fonts/JosefinSans-Bold.ttf) format('ttf'),
    url(../fonts/JosefinSans-Bold.woff) format('woff');
}
@font-face {
    font-family: 'JosefinSans';
    font-weight: 600;
    font-style: normal;
    src: url(../fonts/JosefinSans-SemiBold.ttf) format('ttf'),
    url(../fonts/JosefinSans-SemiBold.woff) format('woff');
}
@font-face {
    font-family: 'JosefinSans';
    font-weight: 400;
    font-style: normal;
    src: url(../fonts/JosefinSans.ttf) format('ttf'),
    url(../fonts/JosefinSans.woff) format('woff');
}
@font-face {
    font-family: 'WorkSans';
    font-weight: 400;
    font-style: normal;
    src: url(../fonts/WorkSans-Regular.ttf) format('ttf'),
    url(../fonts/WorkSans-Regular.woff) format('woff');
}
@font-face {
    font-family: 'WorkSans';
    font-weight: 600;
    font-style: normal;
    src: url(../fonts/WorkSans-SemiBold.ttf) format('ttf'),
    url(../fonts/WorkSans-SemiBold.woff) format('woff');
}
@font-face {
    font-family: 'WorkSans';
    font-weight: 500;
    font-style: normal;
    src: url(../fonts/WorkSans-Medium.ttf) format('ttf'),
    url(../fonts/WorkSans-Medium.woff) format('woff');
}

@font-face {
    font-family: 'WorkSans';
    font-weight: 700;
    font-style: normal;
    src: url(../fonts/WorkSans-Bold.ttf) format('ttf'),
    url(../fonts/WorkSans-Bold.woff) format('woff');
}

body{
    font-family: 'JosefinSans', sans-serif ;
    font-weight: 400;
    padding: 0;
}

*{
    box-sizing: border-box;
}

*:after{
    box-sizing: border-box;
}
*:before {
    box-sizing: border-box;
}