.showMoreBlock{
    width: 100%;
    height: 67px;
    border: solid 1px #e8e8e8;
}
.showMoreBlock_button{
    width: 100%;
    height: 100%;
    cursor: pointer;
    font-family: 'JosefinSans', sans-serif;
    font-weight: 700;
    font-size: 22px;
    display: block;
    text-align: center;
    background-color: #fafbfd;
    border: none;
}
