.description{
    display: block;
    width: 854px;
    margin-left: 138px;
    margin-top: 75px;
    position: relative;
}
.description__text {
    display: inline-block;
    height: 50px;
    font-family: 'WorkSans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: white;
    letter-spacing: -0.007em;
}

.description__linkBlock{
    margin-top: 36px;
    display: inline-block;
}
.description__link {
    width: fit-content;
    display: block;
    height: 26px;
    border-bottom: solid 2px white;
    font-family: 'JosefinSans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    color: white;
    cursor: pointer;
    transition: color .5s ease-in, border-bottom .5s ease-in;
}
.description__link:not(:first-child){
    margin-top: 6px;
}
.description__link:hover {
    color: #acdadc;
    border-bottom: solid 2px #acdadc;
}
.description__linkBlock2{
    margin-top: 36px;
    display: inline-block;
    margin-left: 117px;
    position: absolute;
}
.copyright {
    margin-top: 36px;
    display: inline-block;
    margin-left: 310px;
    position: absolute;
}

.copyright_text {
    display: block;
    font-family: 'JosefinSans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    color: white;
    margin-right: 3px;
}
.text {
    display: inline-block;
}
.underline{
    border-bottom: solid 1px white;
    height: 25px;
    cursor: pointer;
}
.copyright_paymentSystem{
    display: flex;
    height: 43px;
    width: 266px;
    margin-top: 10px;
}
.copyright__icon{
    display: inline-block;
}
.copyright__icon:not(:first-child) {
    margin-left: 19px;
}
.visa{
    padding-top: 16px;
    padding-left: 1px;
}
.masterCard{
    padding-top: 10px;
}
.payPal{
    padding-top: 16px;
}
@media (min-width: 768px) and (max-width: 1400px) {
    .description{
        margin-left: 34px;
        margin-top: 0;
    }
    .description__text {
        display: block;
        width: 725px;
        text-align: center;
        position: relative;
        top: 65px;
        left: -13px;
    }
    .description__linkBlock{
        margin-top: 131px;
        margin-left: 53px;
    }
    .description__linkBlock2{
        margin-top: 131px;
        margin-left: 78px;
    }
    .copyright {
        margin-top: 131px;
        margin-left: 242px;
        text-align: center;
    }
    .copyright_paymentSystem{
        position: relative;
        left: 29px;
    }

}
@media (max-width: 767px){
    .description{
        position: absolute;
        display: block;
        width: 480px;
        margin: 0;
    }
    .description__text {
        display: block;
        width: 470px;
        text-align: center;
        position: relative;
        top: 136px;
        left: 6px;
        margin: 0;
    }
    .description__linkBlock{
        display: none;
    }
    .description__linkBlock2{
        display: none;
    }
    .copyright {
        margin-top: 212px;
        margin-left: 110px;
        text-align: center;
    }
    .copyright_paymentSystem{
        position: relative;
        left: 29px;
        top: 16px;
    }
}