.infoProduct__settings{
    display: flex;
    margin: 0 auto;
    width: 555px;
    margin-top: 39px;
}
.category__color{
    overflow: hidden;
    width: 245px;
    border-right: solid 1px #e8e8e8;

}
.category__color:before{
    content: '';
    background: url(../../../../../images/arrow.png) no-repeat;
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    margin-left: 206px;
    margin-top: 18px;
}
.category__color select{
    width: 256px;
    height: 58px;
    background: transparent;
    border: solid 1px #e8e8e8;
    color: #979797;
    font-family: 'JosefinSans' , sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 130px;
    padding-left: 19px;
    padding-top: 2px;

}

.category__quantity{
    width: 94px;
    height: 58px;
    background-color: #fcfafa;
    border: solid 1px #e8e8e8;
    margin-left: 21px;
    color: #979797;
    font-family: 'JosefinSans' , sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 130px;
    padding-left: 44px;
    padding-top: 2px;

}
.button__add{
    width: 176px;
    position: relative;
    height: 58px;
    border: none;
    background-color: #92cacc;
    margin-left: 20px;
    font-family: 'JosefinSans' , sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: white;
}
@media (max-width: 767px){
    .infoProduct__settings{
        flex-wrap: wrap;
        position: relative;
        width: 330px;
        margin: 0 auto;
    }
    .category__color{
        width: 330px;
        padding-left: 23px;
        letter-spacing: 0.1px;
    }
    .category__quantity{
        width: 114px;
        position: relative;
        margin: 0;
        top: 20px;
        padding-left: 54px;

    }
    .button__add{
        width: 196px;
        position: relative;
        top: 20px;
        margin-left: 20px;
    }
}