.header__button {
    height: 100%;
    width: 60px;
    font-size: 0;
}
.header__menu {
    border-left: solid 1px #2f2f2f;
}
.header__shopping{
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    margin-top: -2px;
    border: none;
    background-color: #282828;
    cursor: pointer;
}