.updates {
    width: 100%;
    display: inline-block;
    margin-left: 42px;
    margin-top: 45px;
    position: relative;
}
.updates__text{
    display: inline-block;
    font-family: 'JosefinSans', sans-serif;
    font-weight: 400;
    font-size: 26px;
    color: #242424;
    line-height: 130px;
}

.updates__input {
    display: inline-block;
    margin-left: 32px;
    padding-left: 22px;
    padding-top: 0;
    width: 375px;
    height: 59px;
    font-family: 'JosefinSans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #979797;
    background-color: #fcfafa;
    border: solid 1px #e8e8e8;
}
.updates__button{
    display: inline-block;
    padding-left: 6px;
    padding-top: 0;
    margin-left: 20px;
    width: 176px;
    height: 58px;
    border: none;
    cursor: pointer;
    background-color: #acdadc;
    font-family: 'JosefinSans', sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: white;
}
@media (min-width: 768px) and (max-width: 1400px) {
    .updates {
        margin-left: 0;
        margin-top: 0;
    }
    .updates__input {
        position: relative;
        top: 1px;
        margin-left: 0;
        left: -154px;
        height: 58px;
    }
    .updates__text{
        position: relative;
        top: 12px;
        left: 4px;
    }
    .updates__button{
        position: relative;
        top: -57px;
        margin-left: 0;
        left: 241px;

    }
}
@media (max-width: 767px){
    .updates {
        position: absolute;
        width: 480px;
        margin-left: 0;
        margin-top: 0;
    }
    .updates__input {
        position: relative;
        top: -6px;
        margin-left: 0;
        left: 25px;
        width: 274px;
        height: 58px;
    }
    .updates__text{
        position: relative;
        top: 6px;
        left: 113px;
    }
    .updates__button{
        position: relative;
        top: -5px;
        margin-left: 0;
        left: 45px;
        width: 136px;

    }
}