.slide {
    width: 100%;
    max-width: 100%;
    flex: 0 0 100%;
    height: 700px;
    display: flex;
    justify-content: space-between;
    transition: transform 0.3s;
}
.slide__textBlock {
    width: 460px;
    height: 80px;
    margin-top: 303px;
    padding-left: 125px;
    display: flex;
    flex-wrap: wrap;
}

.slide__title {
    font-family: 'JosefinSans', sans-serif;
    font-weight: 700;
    font-size: 40px;
}
.slide__price {
    display: inline-block;
    font-family: 'WorkSans', sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #92cacc;
    margin-top: 11px;
}
.slide__buy {
    display: inline-block;
    height: 39px;
    border-bottom: solid 2px;
    font-family: 'WorkSans', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #d095b7;
    padding-top: 16px;
    margin-left: 21px;
    cursor: pointer;
}

.slide__imageBlock {
    width: 54%;
    height: 100%;
    background-repeat: no-repeat;
    display: inline-block;
}
@media (min-width: 768px) and (max-width: 1400px) {
    .slide {
        height: 570px;
        overflow: hidden;
    }
    .slide__textBlock {
        padding-left: 80px;
        margin-top: 238px;
        width: 457px;
    }
    .slide__buy {
        color: black;
    }
    .slide__imageBlock {
        background-size: 430px 570px;;
        position: relative;
        left: 16px;
        width: 50%;
    }
}

@media (max-width: 767px) {
    .slide__textBlock {
        padding-left: 83px;
        margin-top: 66px;
        width: 420px;
    }
    .slide__buy {
        color: black;
    }
    .slide__imageBlock {
        background-size: 390px 510px;
        position: relative;
        top: 58px;
        left: 48px;
        width: 100%;

    }
    .slide__price {
        margin-left: 67px;
    }
    .slide {
        width: 100%;
        max-width: 100%;
        flex: 0 0 100%;
        height: 715px;
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
    }
}