.sliderBlock {
    width: 100%;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
    background-color: #f2f5f9;

}
.slideContainer{
    width: 1400px;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.slideBlock{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    transition: transform 0.3s;

}
.slide__buttons{
    width: 70px;
    height: 20px;
    position: absolute;
    top: 646px;
    margin-left: 126px;
}
.slide__button{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: none;
    background-color: #c2c4c7;
    cursor: pointer;
    padding: 0;
    transition: background-color .5s ease-in, border-color .5s ease-in, color .5s ease-in;
}
.slide__button:hover {
    background-color: #e0aac9;

}

.slide__button:not(:last-child) {
    margin-right: 14px;
}
.slide__buttonActive {
    background-color: #e0aac9;
}
@media (min-width: 768px) and (max-width: 1400px) {
    .sliderBlock{
        height: 570px;
    }
    .slideContainer{
        width: 970px;
        display: block;
        position: relative;
    }
    .slide__buttons{
        top: 497px;
        left: 80px;
        margin-left: 0;
    }

}
@media (max-width: 767px) {
    .sliderBlock{
        height: 715px;
    }
    .slideContainer{
        width: 480px;
        height: 100%;
        display: block;
        position: relative;
    }
    .slide__buttons{
        top: 199px;
        left: 209px;
        margin: 0;
        position: absolute;
    }

}